---
import MainLayout from "../../layouts/MainLayout.astro";
import GenerateFlashcardsPage from "../../components/GenerateFlashcardsPage";
---

<MainLayout title="Generowanie fiszek - 10xCards">
  <div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-6">Generowanie fiszek</h1>
    <GenerateFlashcardsPage client:load />
  </div>
</MainLayout>
